/*--------------------------------------------------------------
#0.3	header
--------------------------------------------------------------*/
.site-header {
  /* navigation open and close btn hide for width screen */
  @include widther(992px) {
    .navbar-header .open-btn {
      display: none;
    }

    #navbar .close-navbar {
      display: none;
    }
  }

/* style for navigation less than 992px */
  @include media-query(991px) {
    .container {
      width: 100%;
    }

    .navbar-header button {
      position: absolute;

z-index: 20;

top: 6px;

right: 15px;

width: 40px;

height: 35px;

padding: 5px 10px;

border: 0;

outline: 0;

background-color: $theme-primary-color;

@include rounded-border(3px);

      span {
        display: block;

height: 2px;

margin-bottom: 5px;

background-color: $white;

        &:last-child {
          margin: 0;
        }
      }
    }

    #navbar {
      position: fixed;

z-index: 100;

top: 0;

right: -300px;

display: block !important;

width: 280px;

height: 100% !important;

margin: 0;

padding: 0;

border-right: 1px solid lighten($black, 80%);

border-left: 1px solid lighten($black, 80%);

background: $white;

      ul a {
        color: $black;
      }

      ul a:hover,
      ul li.current a {
        color: $theme-primary-color;
      }

      .navbar-nav {
        overflow: auto;

height: 100%;

        }

      .close-navbar {
        position: absolute;

z-index: 20;

top: 10px;

left: -18px;

width: 35px;

height: 35px;

color: $white;

border: 0;

outline: none;

background-color: $theme-primary-color;

@include rounded-border(50%);

        }

      > ul > li {
        border-bottom: 1px solid lighten($black, 80%);
      }

      > ul > li > a {
        padding: 10px 15px 10px 35px;

font-size: 15px;

font-size: calc-rem-value(15);

        }
    }

    /* class for show hide navigation */
    .slideInn {
      right: 0 !important;
    }
  }

/*navbar collaps less then 992px*/
  @include media-query(991px) {
    .navbar-collapse.collapse {
      display: none;
    }

    .navbar-collapse.collapse.in {
      display: block;
    }

    .navbar-header .collapse,
    .navbar-toggle {
      display: block;
    }

    .navbar-header {
      float: none;
    }

    .navbar-right {
      float: none;
    }

    .navbar-nav {
      float: none;
    }

    .navbar-nav > li {
      float: none;
    }
  }

  /*** topbar ***/
  .topbar {
    height: 60px;

border-bottom: 1px solid lighten($black, 90%);

line-height: 60px;

@include media-query(991px) {
      height: 45px;

line-height: 45px;

      }

@include media-query(767px) {
      height: auto;

padding: 15px 0 5px;

line-height: 30px;

      }

    .row > .col {
      @include media-query(767px) {
        text-align: center;
      }
    }

    .info ul {
      overflow: hidden;

@include media-query(767px) {
        display: inline-block;
      }

      }

    .info ul li {
      float: left;

margin-right: 25px;

padding-right: 25px;

color: $heading-color;

border-right: 1px solid lighten($black, 90%);

font-size: 18px;

font-size: calc-rem-value(18);

@include media-query(991px) {
        margin-right: 15px;

padding-right: 15px;

font-size: 15px;

font-size: calc-rem-value(15);

        }

@include media-query(767px) {
        float: none;

margin: 0;

padding: 0;

border: 0;

        }

      }

    .info ul li:last-child {
      margin-right: 0;

padding-right: 0;

border-right: 0;

      }

    .info .fi {
      position: relative;

top: 2px;

display: inline-block;

padding-right: 3px;

      }

    .info .fi:before {
      font-size: 17px;

font-size: calc-rem-value(17);

      }

    .social-follow-donate {
      display: inline-block;

float: right;

overflow: hidden;

@include media-query(767px) {
        float: none;
      }

      }

    .social-follow-donate ul {
      display: inline-block;

margin: 0;

padding: 0;

      }

    .social-follow-donate > div {
      float: left;
    }

    .social-follow {
      max-height: 60px;

margin-right: 30px;

@include media-query(991px) {
        margin-right: 20px;
      }

      }

    .social-follow span {
      position: relative;

top: -24px;

text-transform: uppercase;

color: $topbar-social-follow-color;

font-size: 18px;

font-size: calc-rem-value(18);

font-weight: 600;

@include media-query(991px) {
        top: -17px;

font-size: 15px;

font-size: calc-rem-value(15);

        }

@include media-query(767px) {
        top: -10px;
      }

      }

    .social-follow ul {
      margin-left: 15px;

@include media-query(991px) {
        margin-right: 0;
      }

      }

    .social-follow ul li {
      margin-right: 15px;

@include media-query(991px) {
        margin-right: 12px;
      }

      }

    .social-follow ul li:last-child {
      margin-right: 0;
    }

    .social-follow li a {
      color: $topbar-social-follow-color;

font-size: 18px;

font-size: calc-rem-value(18);

@include media-query(991px) {
        font-size: 15px;

font-size: calc-rem-value(15);

        }

      }

    .donate {
      background: $theme-primary-color;

      a {
        display: block;

padding: 0 30px;

text-transform: uppercase;

color: $white;

font-family: $heading-font;

font-size: 18px;

font-size: calc-rem-value(18);

font-weight: 600;

@include media-query(991px) {
          padding: 0 15px;

font-size: 15px;

font-size: calc-rem-value(15);

          }

        }

      .fi {
        position: relative;

top: 1px;

display: inline-block;

padding-right: 12px;

@include media-query(991px) {
          top: 2px;

padding-right: 8px;

          }

        }

      .fi:before {
        @include media-query(991px) {
          font-size: 18px;

font-size: calc-rem-value(18);

          }
      }
    }
  }

  /*** navigation  ***/
  .navigation {
    margin-bottom: 0;

border: 0;

background-color: $white;

@include rounded-border(0);

    .navbar-brand {
      height: auto;

@include media-query(991px) {
        position: relative;

padding-top: 0;

padding-bottom: 0;

        img {
          max-width: 180px;
        }
      }

      }

    > .container {
      position: relative;
    }
  }

  #navbar {
    margin-right: 120px;

@include transition-time(0.5s);

@include media-query(991px) {
      .sub-menu > a,
      .sub-sub-menu > a {
        //position: relative;

        &:before {
          position: absolute;

top: 0;

right: 0;

width: 40px;

height: 100%;

content: '\f107';

text-align: center;

border-left: 1px solid lighten($black, 80%);

font-family: 'FontAwesome';

line-height: 41px;

          }
      }

      .sub-sub-menu > a:before {
        line-height: 33px;
      }
    }

    a:hover,
    a:focus,
    ul li.current a {
      color: $theme-primary-color;
    }

    > ul {
      margin: 0;

      a {
        display: block;
      }

      a:hover,
      a:focus {
        text-decoration: none;
      }
    }

    > ul li {
      position: relative;
    }

    > ul > li > a {
      padding: 40px 20px;

text-transform: uppercase;

color: #5c686e;

font-size: 18px;

font-size: calc-rem-value(18);

font-weight: 600;

      }

    > ul > li > a:hover,
    > ul > li.current > a {
      outline: none;

@include widther(992px) {
        // background-color: $theme-primary-color;
        // color: $white;
      }

      }

    > ul > li > a:focus {
      background-color: transparent;
    }

    > ul > .sub-menu:before {
      position: absolute;

top: 50%;

right: 5px;

content: '\f107';

font-family: 'FontAwesome';

@include translatingY();

@include media-query(991px) {
        display: none;
      }

      }

    /*** second level ***/
    > ul > li:hover > ul {
      @include widther(992px) {
        top: 100%;

visibility: visible;

opacity: 1;

        }
    }

    > ul > li > ul > li:hover > ul {
      @include widther(992px) {
        left: 100%;

visibility: visible;

opacity: 1;

        }
    }

    > ul > li > ul {
      @include media-query(991px) {
        ul a {
          padding-left: 60px;
        }
      }

@include widther(992px) {
        position: absolute;

z-index: 10;

top: 120%;

left: 0;

visibility: hidden;

width: 210px;

opacity: 0;

border-top: 2px solid $theme-primary-color;

background-color: $white;

box-shadow: 1px 1px 5px 0 lighten($black, 90%);

@include transition-time(0.5s);

        li {
          border-bottom: 1px solid lighten($black, 90%);
        }

        li:first-child {
          border-top: 0;
        }

        a {
          display: block;

padding: 12px 15px;

color: #5c686e;

font-size: 16px;

font-size: calc-rem-value(16);

font-weight: 600;

@include transition-time(0.3s);

          }

        a:hover {
          padding-left: 20px;
        }

        ul {
          position: absolute;

top: 0;

left: 110%;

visibility: hidden;

width: 210px;

opacity: 0;

background-color: $white;

box-shadow: 1px 1px 5px 0 lighten($black, 90%);

@include transition-time(0.5s);

          }
      }

      li {
        border-bottom: 1px solid lighten($black, 80%);
      }

      li:first-child {
        border-top: 1px solid lighten($black, 80%);
      }

      li:last-child {
        border-bottom: 0;
      }

      a {
        padding: 6px 15px 6px 45px;
      }
    }

    /*** icon ***/
    .sub-sub-menu > a {
      position: relative;

      &:before {
        position: absolute;

right: 15px;

content: '\f105';

font-family: 'FontAwesome';

        }
    }
  }

  /*** search mini cart ***/
  .search-mini-cart {
    position: absolute;

z-index: 10;

right: 25px;

    .search {
      position: absolute;

z-index: 10;

right: 40px;

text-align: right;

line-height: 100px;

      a {
        color: #5c686e;
      }
    }

    .mini-cart-wrapper {
      position: absolute;

right: 0;

      }

    .mini-cart-btn {
      text-align: right;

line-height: 100px;

      a {
        position: relative;

color: #5c686e;

        }

      a span {
        position: absolute;

top: -11px;

left: 70%;

display: inline-block;

width: 20px;

height: 20px;

text-align: center;

color: #fff;

background-color: $theme-primary-color;

font-size: 9px;

line-height: 20px;

@include rounded-border();

        }
    }

    .mini-cart {
      position: relative;

top: -1px;

width: 280px;

padding: 20px;

border: 1px solid $theme-primary-color;

background: $white;

      // opacity: 0;
      // visibility: hidden;
      // @include transition-time(0.5s);

      .item {
        overflow: hidden;

margin-bottom: 10px;

padding-bottom: 10px;

border-bottom: 1px solid lighten($black, 70%);

        }

      .product-img {
        float: left;

width: 80px;

        }

      .product-details {
        float: right;

width: 150px;

        h6 {
          margin: 0.2em 0 0.8em;

font-size: 14px;

          }

        p {
          margin: 0;

color: $theme-primary-color;

font-size: 14px;

font-weight: 600;

          }

        i {
          color: red;
        }

        i:before {
          font-size: 14px;
        }
      }

      .price-total {
        font-size: 15px;

font-weight: 600;

        > span,
        > div {
          display: inline-block;
        }

        > div {
          float: right;
        }
      }

      .checkout-btn {
        margin-top: 15px;

        .theme-btn {
          width: 100%;

font-size: 12px;

          }
      }
    }
  }
}

/*** header search area style ***/
.header-search-form {
  position: fixed;

z-index: 9999;

top: 0;

left: 0;

width: 100%;

height: 100%;

background: transparentize($black, 0.05);

  form {
    position: absolute;

top: 50%;

left: 50%;

width: 500px;

@include center-by-translating();

@include media-query(767px) {
      width: 300px;
    }

    input {
      height: 60px;

padding: 15px 25px;

font-size: 20px;

@include media-query(767px) {
        height: 45px;

font-size: 17px;

        }

      }

    input:focus {
      box-shadow: none;
    }

    .btn {
      position: absolute;

top: 0;

right: 0;

height: 100%;

color: $white;

border: 0;

background-color: $theme-primary-color;

@include rounded-border(0);

      }

    .btn:focus,
    .btn:active {
      outline: none;

box-shadow: none;

      }
  }
}

.header-style1 {
  // under 992px screen size
  @include media-query(991px) {
    .navigation {
      padding-bottom: 15px;
    }

    .navbar-header button {
      top: 16px;
    }

    .search-mini-cart {
      top: -11px;

right: 85px;

      }
  }

// under 768px screen size
  @include media-query(767px) {
    .navigation {
      height: 150px;

padding: 15px 0;

      }

    .navbar-header {
      position: relative;

height: 60px;

border-bottom: 1px solid lighten($black, 90%);

      .navbar-brand {
        position: absolute;

left: 50%;

@include translatingX();

        }
    }

    .navbar-header button {
      top: 80px;
    }

    .search-mini-cart {
      top: 50px;
    }

    .search-mini-cart .mini-cart {
      top: -17px;

left: 85px;

      }
  }

  // header style1 style for screen size 1199px to 992px
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    #navbar {
      width: 970px;

margin: 0;

text-align: center;

border-top: 1px solid lighten($black, 95%);

      > ul {
        display: inline-block;

float: none;

text-align: left;

        }
    }
  }
}

.header-style1 {
  .sticky .navbar-header {
    @include media-query(991px) {
      padding-top: 15px;
    }

@include media-query(767px) {
      padding-top: 0;
    }

    }
}

/*** header style 2 ***/
.header-style2 {
  /*** navigation ***/
  @include widther(992px) {
    .navigation {
      position: absolute;

z-index: 10;

top: 60px;

left: 0;

width: 100%;

background-color: transparent;

      .container {
        padding: 0;

background-color: $white;

        }

      .navbar-header {
        position: relative;

min-height: 100px;

padding: 23px 5px 23px 30px;

background-color: $theme-primary-color;

        .shape {
          position: absolute;

top: 0;

right: -30px;

width: 65px;

height: 100%;

-webkit-transform: skewX(-30deg);

-moz-transform: skewX(-30deg);

-ms-transform: skewX(-30deg);

-o-transform: skewX(-30deg);

transform: skewX(-30deg);

background-color: $theme-primary-color;

          }
      }

      .navbar-brand {
        position: relative;

margin-left: 0;

padding: 0;

        }

      #navbar {
        margin-right: 70px;

@include media-query(1199px) {
          width: 970px;

margin: 0;

text-align: center;

border-top: 1px solid $theme-primary-color;

          > ul {
            display: inline-block;

float: none;

text-align: left;

            }
        }

        }
    }

    /*** mini cart ***/
    .search-mini-cart .mini-cart-wrapper {
      right: 30px;
    }
  }

  /***  topbar  ***/
  .topbar {
    overflow: hidden;

border-bottom: 0;

background-color: $black;

    span,
    li {
      color: $white;

font-size: 18px;

font-size: calc-rem-value(18);

@include media-query(991px) {
        font-size: 16px;

font-size: calc-rem-value(16);

        }

@include media-query(767px) {
        font-size: 15px;

font-size: calc-rem-value(15);

        }

      }

    .contact-info {
      display: inline-block;

float: right;

overflow: hidden;

@include media-query(767px) {
        float: none;
      }

      }

    .contact-info li {
      float: left;

margin-right: 60px;

@include media-query(991px) {
        margin-right: 20px;
      }

@include media-query(767px) {
        display: inline-block;

float: none;

        }

      }

    .contact-info li:last-child {
      margin-right: 0;
    }

    .contact-info li i {
      display: inline-block;

padding-right: 5px;

color: $theme-primary-color;

      }
  }

  .navigation {
    @include media-query(991px) {
      height: 66px;

padding: 15px 0;

      }

@include media-query(991px) {
      .navbar-header button {
        top: 0;
      }
    }

    .navbar-brand {
      @include media-query(991px) {
        position: absolute;

top: -15px;

left: 0;

height: 66px;

padding: 15px 15px 0 25px;

background-color: $theme-primary-color;

        }

@include media-query(767px) {
        padding: 15px 15px 0 12px;
      }

      }

    .search-mini-cart {
      @include media-query(991px) {
        top: -9px;

right: 80px;

        }
    }

    .mini-cart-btn {
      @include media-query(991px) {
        line-height: 60px;
      }
    }

    .mini-cart {
      @include media-query(767px) {
        right: -75px;
      }
    }
  }
}

/*** header style 3 ***/
.header-style3 {
  @extend .header-style2;

@include widther(992px) {
    .navigation {
      top: 35px;
    }

    #navbar > ul > li > a,
    #navbar > ul > .sub-menu:before {
      color: $white;
    }

    .search-mini-cart .mini-cart-btn a {
      color: $white;
    }
  }

  .navigation .navbar-header {
    background-color: transparent;
  }

  .navigation .container {
    background-color: transparent;
  }
}
